@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    background: #A8A8A8;
}
/* NAVBAR */

nav.navbar {
    width: 1440px;
    height: 169px;
    background-color: #463F3A;
   
}
.navbar-brand img {
    border-radius: 110px 110px 0px 110px;  
}
.title {
    font-size: 72px;
    color: #FCFBFB;
    line-height: 85px;
    display: flex;
    justify-content: center;
    
}
.navbar-end {
    margin-right: 50px;
}
.bigblanc {
    width: 300px;
    height: 300px;
}
/* CONNEXIONS PAGE */


button {
    width: 551px;
    height: 94px;
}
button:hover{
    background-color: #808080;
    
}
/* LOGIN FORM */
.bgimg{
    background-image: url(/projet_mybocuse/assets/form.svg);
    min-height: 590px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 53px 0;
}
.container input {
    border-radius: 70px;
    background-color: #E1DFDF;
    width: 388px;
    height: 48px;
    margin-top: 20px;
}
.container button{
    width: 271px;
    height: 53px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
/* FOOTER */

.footer {
    width: 1440px;
    height: 40px;
    background-color: #463F3A;
    
}
.footer img {
    padding: 20px 20px;
}

